@page
@using LogisticsBooking.FrontEnd.DataServices.Models.Schedule.DetailSchedule
@model LogisticsBooking.FrontEnd.Pages.Client.TDashboard
@inject CommonLocalizationService localizer


@{
    Layout = "_Layout_Transporter";
}

<!-- Begin Page Content -->
<div class="container-fluid">

@if (Model.ShowResponseMessage)
{
    <div class="alert alert-success">
        <strong>@Model.Message</strong> 
    </div>
}



<div class="d-sm-flex align-items-center justify-content-start mb-4">
    <h1 class="h3 mb-0 colorred">Dashboard</h1>
    
</div>


<div class="row">
     <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">@localizer.Get("Time until next delivery")</div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"></div>
                                </div>
                                <div class="col">
                                    <div class="progress progress-sm mr-2">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 75%" aria-valuenow="50%" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">@localizer.Get("Deliveries today")</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.TransporterDashboardViewModel.BookingsToday.Count</div>
                        </div>
                        <div class="col-auto">
    
                            <i class="fas fa-truck fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-danger shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">@localizer.Get("delayed trips")</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">4</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-exclamation fa-2x text-gray-400"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

</div>



</div>
<!-- /.container-fluid -->









