@page "{id}"
@using LogisticsBooking.FrontEnd.DataServices.Models
@using LogisticsBooking.FrontEnd.Pages.Transporter.Booking
@model LogisticsBooking.FrontEnd.Pages.Client.Bookings.BookingSingleModel

@{
  var culture = CultureInfo.CurrentCulture.Name;
}

@if (Model.MessegeIsSet)
{
    <div class="alert alert-success" role="alert">
        @Model.Message
    </div>
 
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-2"></div>
        <div class="col-xl-8">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Booking</h6>
                </div>
                <div class="card-body">

                    <h1>@localizer.Get("Booking from")  @Model.Booking.TransporterName</h1>
                    <p class="mb-3">@localizer.Get("Update the desired information by edit in the fields and click 'update'") </p>
                    <form method="post" class="text-left">
                        <div class="form-group">
                            <label for="form18">@localizer.Get("Delivery date") </label> <input type="text" asp-for="Booking.BookingTime" class="date form-control" id="form18" name="ViewBookTime">
                        </div>
                        <div class="form-group">
                            <label for="form18">@localizer.Get("Number of pallets")</label> <input asp-for="Booking.TotalPallets" class="form-control" id="form18" name="ViewPallets">
                        </div>
                        <div class="form-group">
                            <label for="form18">Port</label> <input asp-for="Booking.Port" class="form-control" id="form18" name="ViewPort">
                        </div>
                        <div class="form-group">
                            <label for="form18" style="width: 12em">@localizer.Get("Actually arrival")</label>
                            <input type="number" class="form-control d-inline" asp-for="@Model.ArrivalHour" name="ActualArrivalHour" style="width: 4.5em" max="23" min="0" required/>
                            : <input type="number" class="form-control d-inline" asp-for="@Model.ArrivalMinute" name="ActualArrivalMinute" style="width: 4.5em" max="59" min="0" required/>
                        </div>
                        <div class="form-group">
                            <label for="form18" style="width: 12em"> @localizer.Get("Start loading")</label>
                            <input type="number" class="form-control d-inline" asp-for="@Model.StartHour" style="width: 4.5em; " name="startHour" max="23" min="0" required/>
                            : <input type="number" class="form-control d-inline" asp-for="@Model.StartMinute" name="startMinute" style="width: 4.5em" max="59" min="0" required/>
                        </div>Start loading
                        <div class="form-group">
                            <label for="form18" style="width: 12em">@localizer.Get("End loading")</label>
                            <input type="number" class="form-control d-inline" asp-for="@Model.EndHour" name="endHour" style="width: 4.5em" max="23" min="0" required/>
                            : <input type="number" class="form-control d-inline" asp-for="@Model.EndMinute" name="endMinute" style="width: 4.5em" max="59" min="0" required/>
                        </div>
                        <div class="row d-flex justify-content-end">
                             <input  asp-for="Booking.EndLoading" type="hidden" class="form-control m-2" id="form18" name="ViewBookingId" value="@Model.Booking.InternalId">
                             <button type="submit" asp-page-handler="Update" class="btn btn-lg btn-primary m-2" >@localizer.Get("Update")</button>
                             
                             <div id="test" data-toggle="modal" data-target="#popup" class="btn-lg btn btn-danger m-2">@localizer.Get("Delete")</div>
                             
                        </div>
                       
                    </form>

                </div>
            </div>
        </div>


        <div class="col-xl-2"></div>

    </div>

    
    
        <div class="row">
            <div class="col-xl-2"></div>
            <div class="col-xl-8">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">@localizer.Get("Order on booking")</h6>
                    </div>
                    <div class="card-body">
    
                      <div class="row">
                                  <div class="col-md-12">
                                      <div class="list-group " style="">
                                          @if (@Model.Booking.OrdersListViewModel != null)
                                          {
                                              foreach (var order in @Model.Booking.OrdersListViewModel)
                                              {
                                                  <a asp-page="./OrderSingle" asp-route-culture="@culture"  asp-route-id="@order.OrderId" asp-route-bookingId="@Model.Booking.InternalId" class="list-group-item list-group-item-action d-flex justify-content-between">
                                                      <div>@localizer.Get("Reference number") @order.OrderNumber</div>
                                                      <div>@localizer.Get("Order") ID @order.ExternalId</div>
                                                      <div>@order.InOut</div>
                                                      <div>@localizer.Get("Pallets") @order.TotalPallets</div>
                                                  </a>
                                              }
                                          }
                                      </div>
                                  </div>
                              </div>
    
                    </div>
                </div>
            </div>
    
    
            <div class="col-xl-2"></div>
    
        </div>
    
    
</div>




<div class="modal fade" id="popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@localizer.Get("Delete booking")</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="spaced-typography">@localizer.Get("You are about to delete this booking. This is a permanently action. Click 'confirm' to continue with this action")</p>
            </div>
            <div class="modal-footer">
                
                <form method="post">
                    <button asp-page-handler="delete" type="submit" class="btn btn-danger">@localizer.Get("Confirm")</button>
                </form>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">@localizer.Get("Close")</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
            <script src="~/js/DateRingePicker.js"></script>


    <script>
        $(function () {
            $("#example").DataTable();
        });

    </script>

    <script>
        $(window).load(function () {
            $(".trigger_popup_fricc").click(function () {
                $('.hover_bkgr_fricc').show();
            });
            $('.hover_bkgr_fricc').click(function () {
                $('.hover_bkgr_fricc').hide();
            });
            $('.popupCloseButton').click(function () {
                $('.hover_bkgr_fricc').hide();
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            var options = {
                inlineCss: false
            };
            $("a.six").on("click", function (e) {
                e.preventDefault();
                $(this).simplePopup(options);
            });
        });
    </script>
}