@page "{id?}"
@using LogisticsBooking.FrontEnd.DataServices.Models
@using LogisticsBooking.FrontEnd.Pages.Transporter.Booking
@model LogisticsBooking.FrontEnd.Pages.Client.Bookings.CreateBookingAdminModel


<form method="post" class="text-left">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-2"></div>
            <div class="col-xl-8">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Booking</h6>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="form18">@localizer.Get("Delivery date")</label> <input  class="date form-control" id="form18" name="Booking.BookingTime">
                        </div>
                        <div class="form-group">@localizer.Get("")
                            <label for="form18">@localizer.Get("Transporter") &nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <select name="TransporterId" asp-items="Model.TransporterOptions" asp-for="Booking.TransporterId">
                                <option value="">@localizer.Get("Choose a transporter")</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="form18">@localizer.Get("Number of pallets")</label> <input asp-for="Booking.TotalPallets" class="form-control" id="form18" name="Booking.TotalPallets">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2"></div>
        </div>
    
        <div class="row">
            <div class="col-xl-2"></div>
            <div class="col-xl-8">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">@localizer.Get("Order")</h6>
                    </div>
                    <div class="card-body">
                            <div class="form-group">
                                <label for="form18">@localizer.Get("Supplier") &nbsp;&nbsp;&nbsp;&nbsp; </label><select name="Booking.OrdersListViewModel[0].SupplierViewModel.SupplierId" asp-items="Model.SupplierOptions" asp-for="Booking.OrdersListViewModel[0].SupplierViewModel.SupplierId">
                                    <option value="">@localizer.Get("Choose a customer")</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="form18">@localizer.Get("Comment")</label> <input asp-for="Booking.OrdersListViewModel[0].Comment" class="form-control" id="form18" name="Booking.OrdersListViewModel[0].Comment">
                            </div>
                            <div class="form-group">
                                <label for="form18">@localizer.Get("Bottom pallets")</label> <input asp-for="Booking.OrdersListViewModel[0].BottomPallets" class="form-control" id="form18" name="Booking.OrdersListViewModel[0].BottomPallets">
                            </div>
                            <div class="form-group">
                                <label for="form18">@localizer.Get("In/Out")</label> <input asp-for="Booking.OrdersListViewModel[0].InOut" class="form-control" id="form18" name="Booking.OrdersListViewModel[0].InOut">
                            </div>
                            <div class="form-group">
                                <label for="form18">@localizer.Get("Reference number")</label> <input asp-for="Booking.OrdersListViewModel[0].OrderNumber" class="form-control" id="form18" name="Booking.OrdersListViewModel[0].OrderNumber">
                            </div>
                            <div class="form-group">
                                <label for="form18">@localizer.Get("Total pallets")</label> <input asp-for="Booking.OrdersListViewModel[0].TotalPallets" class="form-control" id="form18" name="Booking.OrdersListViewModel[0].TotalPallets">
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2"></div>
        </div>
    
        <div class="row">
            <div class="col-xl-2"></div>
            <div class="col-xl-8">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">@localizer.Get("Order")</h6>
                    </div>
                    <div class="card-body">
                            <div class="form-group">
                                <label for="form18">@localizer.Get("Supplier")  &nbsp;&nbsp;&nbsp;&nbsp; </label><select name="Booking.OrdersListViewModel[1].SupplierViewModel.SupplierId" asp-items="Model.SupplierOptions" asp-for="Booking.OrdersListViewModel[1].SupplierViewModel.SupplierId">
                                    <option value="">@localizer.Get("Choose a customer")</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="form18">@localizer.Get("Comment")</label> <input asp-for="Booking.OrdersListViewModel[1].Comment" class="form-control" id="form18" name="Booking.OrdersListViewModel[1].Comment">
                            </div>
                            <div class="form-group">
                                <label for="form18">@localizer.Get("Bottom pallets")</label> <input asp-for="Booking.OrdersListViewModel[1].BottomPallets" class="form-control" id="form18" name="Booking.OrdersListViewModel[1].BottomPallets">
                            </div>
                            <div class="form-group">
                                <label for="form18">@localizer.Get("In/Out")</label> <input asp-for="Booking.OrdersListViewModel[1].InOut" class="form-control" id="form18" name="Booking.OrdersListViewModel[1].InOut">
                            </div>
                            <div class="form-group">
                                <label for="form18">@localizer.Get("Reference number")</label> <input asp-for="Booking.OrdersListViewModel[1].OrderNumber" class="form-control" id="form18" name="Booking.OrdersListViewModel[1].OrderNumber">
                            </div>
                            <div class="form-group">
                                <label for="form18">@localizer.Get("Total pallets")</label> <input asp-for="Booking.OrdersListViewModel[1].TotalPallets" class="form-control" id="form18" name="Booking.OrdersListViewModel[1].TotalPallets">
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2"></div>
        </div>
    
        <div class="row">
            <div class="col-xl-2"></div>
            <div class="col-xl-8">
                <button asp-page-handler="Create" type="submit" class="btn btn-primary">@localizer.Get("Create booking")</button>
            </div>
        </div>
    </div>
</form>




@section Scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="~/js/DateRingePicker.js"></script>

    <script>
        $(function () {
            $("#example").DataTable();
        });

    </script>

    <script>
        $(window).load(function () {
            $(".trigger_popup_fricc").click(function () {
                $('.hover_bkgr_fricc').show();
            });
            $('.hover_bkgr_fricc').click(function () {
                $('.hover_bkgr_fricc').hide();
            });
            $('.popupCloseButton').click(function () {
                $('.hover_bkgr_fricc').hide();
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            var options = {
                inlineCss: false
            };
            $("a.six").on("click", function (e) {
                e.preventDefault();
                $(this).simplePopup(options);
            });
        });
    </script>
}