@page 
@using LogisticsBooking.FrontEnd.DataServices.Models
@model LogisticsBooking.FrontEnd.Pages.Client.Bookings.select_time



@if (Model.ShowErrorMessage)
{
    <div class="alert alert-danger">
        <strong>@Model.ErrorMessage</strong>
    </div>
}  

<div class="py-5" style="">
    <div class="container">
        <div class="row">
            <h2 class="text-center display-center col-md font-weight-bolder">Følgende tider er ledige</h2>
        </div>
        <div class="row">
            <div class="mx-auto p-4 col-lg-8">
               
                @if (!Model.SchedulesListViewModel.Schedules.Any())
                {
                    @:ingen
                }

                @foreach (var schedule in Model.SchedulesListViewModel.Schedules)
                     {
                         foreach (var interval in schedule.Intervals)
                         {
                         <div class="col-md">
                                 <div class="list-group" style="">
                                     <form method="post">
                                         <button class="list-group-item list-group-item-action" type="submit" asp-page-handler="SelectedTime">
                                             <div class="row">
                                                 <div class="col">
                                                     <input type="hidden" value="@interval.StartTime.Value.DayOfWeek.ToString("G") - @interval.StartTime.Value.ToString("M")"/>
                                                     <input type="hidden"/>
                                                     <input type="hidden" name="interval" value="@interval.IntervalId">

                                                     <div class="">@interval.StartTime.Value.DayOfWeek.ToString("G")   </div>
                                                 </div>
                                                 
                                                 <div class="col">
                                                     <div>@interval.StartTime.Value.ToString("MM/dd")</div>
                                                 </div>
                                                 <div class="col">
                                                      <div class="">@interval.StartTime.Value.ToString("t") - @interval.EndTime.Value.ToString("t") </div>
                                                 </div>
                                             </div>
                                         </button>
                                     </form>
                                 </div>
                             </div>
                         }
                     }
            </div>
        </div>
    </div>
</div>
