@page
@model LogisticsBooking.FrontEnd.Pages.Client.SuppliersModel
@{
}

@if (Model.ShowResponseMessage)
{
    <div class="alert alert-success">
        <strong>@Model.ResponseMessage</strong> 
    </div>
}
<style>
    #leftbox { 
        float:left;
        width:33%;
    } 
    #middlebox{ 
        float:left;  
        width:33%; 
    } 
    #rightbox{ 
        float:right; 
        width:33%; 
    } 
    
    #leftbox45P { 
        float:left;
        width:45%;
    } 
    #middlebox10P{ 
        float:left;  
        width:10%; 
    } 
    #rightbox45P{ 
        float:right; 
        width:45%; 
    }
</style>

<div class="py-5 text-center">
    <div class="container">
        <div class="row">
            <div class="mx-auto col-lg-5 col-md-7 col-10">
                <h1></h1>
                <p class="mb-3">@localizer.Get("A list of all customers, click to edit a customer")</p>
            </div>
        </div>
        <div class="row">
            <div class="mx-auto col-lg-5 col-md-7 col-10">
                <a asp-page="/Client/Suppliers/Supplier_Create">
                    <button class="btn btn-primary">@localizer.Get("Create new customer")</button>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="py-5">
    <div class="container">
        <table id="example" class="display" style="width:100%">
            <thead>
            <tr>
                <th>Booking @localizer.Get("Time")</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.SuppliersListView.Suppliers)
            {
                <tr>
                    <td>
                        <a asp-page="Supplier_Single" asp-route-id="@item.SupplierId" class="list-group-item-action">
                            <div id="leftbox">
                                <div>@item.Name</div>
                                <div>@item.Email</div>
                            </div>
                            <div id="middlebox">
                                @if (@item.Telephone == 0)
                                {
                                    <div>N/A</div>
                                }
                                @if (item.Telephone != 0)
                                {
                                    <div>@item.Telephone</div>
                                }
                                <div><p>  </p></div>
                            </div>
                            <div id="rightbox">
                                <div id="leftbox45P">@localizer.Get("Start delivery")</div><div id="middlebox10P"> - </div><div id="rightbox45P">@item.DeliveryStart.TimeOfDay</div>
                                <div id="leftbox45P">@localizer.Get("End delivery")</div><div id="middlebox10P"> - </div><div id="rightbox45P">@item.DeliveryEnd.TimeOfDay</div>
                            </div>
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>


@section Scripts{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script>
    
    
var language = '@localizer.Get("English")';
console.log(language);
var lang = "";
if (language === 'Danish') {
    lang = "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Danish.json";
}else if (language === 'English') {
 lang = '//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/English.json';
}
        
        $(function () {
            $("#example").DataTable({
            "language": {
                                   "url": lang
                               }
                               
            });
        });

    </script>
}