@page
@using LogisticsBooking.FrontEnd.DataServices.Models.Schedule.DetailSchedule
@model LogisticsBooking.FrontEnd.Pages.Client.Dashboard
@inject CommonLocalizationService localizer


<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">




<!-- Begin Page Content -->
<div class="container-fluid">

<div class="d-sm-flex align-items-center justify-content-start mb-4">
    <h1 class="h3 mb-0 colorred">@localizer.Get("Supplier")</h1>
    
</div>


<div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">@localizer.Get("number of deliveries")</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.DashboardViewModel.TotalBookings</div>
                    </div>
                    <div class="col-auto">

                        <i class="fas fa-truck fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">@localizer.Get("deliveries left")</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.DashboardViewModel.BookingsLeft</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-truck-loading fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">@localizer.Get("Time until next delivery")</div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">@Model.DashboardViewModel.TimeToNextDelivery.ToString(@"hh\:mm")</div>
                            </div>
                            <div class="col">
                                <div class="progress progress-sm mr-2">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: @Model.ShowPercent%" aria-valuenow="@Model.ShowPercent" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-danger shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">@localizer.Get("delayed trips")</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">@localizer.Get("Standard plans")</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Dropdown Header:</div>
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">@localizer.Get("Standard day plan")</div>
                        <table class="table table-sm">
                            <thead>
                            <tr>
                                <th scope="col">@localizer.Get("Times")</th>
                                <th scope="col">@localizer.Get("Number of pallets")</th>

                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var schedule in @Model.MasterSchedulesStandardViewModel.MasterScheduleStandardViewModels)
                            {
                                @if (schedule.Shifts == Shift.Day)
                                {
                                    foreach (var interval in schedule.MasterIntervalStandardViewModels)
                                    {
                                        <tr>

                                            <td>
                                                <div class="d-flex justify-content-lg-around text-left">
                                                    <div>
                                                        <span class="float-left">@interval.StartTime.Value.ToString("t")</span>
                                                    </div>
                                                    <div>
                                                        -
                                                    </div>
                                                    <div>
                                                        <span>@interval.EndTime.Value.ToString("t")</span>
                                                    </div>

                                                </div>

                                            </td>
                                            <td>@interval.BottomPallets</td>
                                        </tr>
                                    }
                                }
                            }


                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-6">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">@localizer.Get("Standard nat plan")</div>
                        <table class="table table-sm">
                            <thead>
                            <tr>
                                 <th scope="col">@localizer.Get("Times")</th>
                                <th scope="col">@localizer.Get("Number of pallets")</th>

                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var schedule in @Model.MasterSchedulesStandardViewModel.MasterScheduleStandardViewModels)
                            {
                                @if (schedule.Shifts == Shift.Night)
                                {
                                    foreach (var interval in schedule.MasterIntervalStandardViewModels)
                                    {
                                        <tr>

                                            <td>
                                                <div class="d-flex justify-content-lg-around text-left">
                                                    <div>
                                                        <span class="float-left">@interval.StartTime.Value.ToString("t")</span>
                                                    </div>
                                                    <div>
                                                        -
                                                    </div>
                                                    <div>
                                                        <span>@interval.EndTime.Value.ToString("t")</span>
                                                    </div>

                                                </div>

                                            </td>
                                            <td>@interval.BottomPallets</td>
                                        </tr>
                                    }
                                }
                            }


                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Pie Chart -->


</div>


</div>
<!-- /.container-fluid -->






</html>


