@page
@using System.Collections.Specialized
@using Microsoft.EntityFrameworkCore.Internal
@model LogisticsBooking.FrontEnd.Pages.Client.Schedule.CreateNewSchedule

<style>
    .input-group-res {
        width: 100%;
        width: 70px;
        box-sizing: border-box;
    }
    
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    
    
    .div > input {
        display: inline-block;
        display: -moz-inline-box;
        *display: inline; /* For IE7 */
        zoom: 1; /* Trigger hasLayout */
        width: 33%;
        text-align: center;
    }
    
    .parent{
        width: 100%;
        text-align: justify;
    }

    .kiddo{
        display: inline-block;
        vertical-align: top;
        width: 29%;
        margin: 10px;
        text-align: left;
    }
    
    .kiddo-25{
        display: inline-block;
        vertical-align: top;
        width: 29%;
        margin: 10px;
        text-align: left;
        
    }

    .bumper{
        width: 100%;
    }

</style>

<body onload="hideAllEmpty()">


<form method="post">


    <div class="container-fluid">

        <div class="card mb-4">
            <div class="card-header">
                <h2>Opret ny plan</h2>
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-6">


                        <div class="row">
                            <div class="col-12">
                                <div class="card bg-light text-center">
                                    <div class="card-body p-1">
                                        <table>
                                            <tr>
                                                <th>Angiv antal bundpaller for alle intervaller</th>
                                                <th>Angiv navnet for tidsplanen</th>
                                                
                                            </tr>
                                            <tr>
                                                <td class="d-flex justify-content-start">
                                                    <div onclick="changeAllPallets(document.getElementById('allPalletsNumber').value)" class="btn btn-primary">Bekræft</div>&nbsp;&nbsp;<input type="number" class="input-group-res form-control" id="allPalletsNumber"/>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" name="name"/>
                                                </td>
                                                
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <div class="list-group" style="">

                                    <div class="list-group-item list-group-item-action d-flex justify-content-between parent">
                                        <p style="font-weight: bold" title="Fjern/Tilføj et givent interval fra planen" class="kiddo-25">+/-</p>
                                        <p style="font-weight: bold" title="Totalt antal bundpaller for the givne interval" class="kiddo-25">Paller</p>
                                        <p style="font-weight: bold" title="Starttidspunkt for the givne interval" class="kiddo-25">Start</p>
                                        <p style="font-weight: bold" title="Sluttidspunkt for the givne interval" class="kiddo-25">Slut</p>
                                    </div>

                                    @foreach (var interval in @Model.Intervals.GetRange(0, @Model.Intervals.Count))
                                    {
                                        <div id="@Model.Intervals.IndexOf(interval)div" ondrop="drop(event)" ondragover="allowDrop(event)">
                                            <div class="list-group-item list-group-item-action d-flex" id="@Model.Intervals.IndexOf(interval)drag" draggable="true" ondragstart="drag(event)">
                                                <div class="btn input-group-res" onclick="toggle('@interval.InternalId')">
                                                    <i class="fas fa-toggle-on"></i>
                                                </div>
                                                <div class="@interval.InternalId parent">
                                                    <input type="number" class="input-group- kiddo form-control" style="text-align: center;" id="@interval.InternalId"  name="Intervals[@Model.Intervals.IndexOf(interval)].BottomPallets"/>
                                                    <input type="text" value="@interval.StartTime.TimeOfDay"  class="date kiddo form-control" style="text-align: center;"  name="Intervals[@Model.Intervals.IndexOf(interval)].StartTime"/>
                                                    <input type="text" class="time kiddo form-control" style="text-align: center;"  name="Intervals[@Model.Intervals.IndexOf(interval)].EndTime"/>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-6">

                        <div class="row">
                            <div class="col-12">

                                <div class="d-flex justify-content-center">
                                    <h3>Angiv hvilke dage denne plan skal være gældene for</h3>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                               

                                    <div class="form-check">
                                        <input class="form-check-input" name="day" type="checkbox" value="monday">
                                        <label class="form-check-label">
                                            Mandag
                                        </label>
                                    </div>


                                    <div class="form-check">
                                        <input class="form-check-input" name="day" type="checkbox" value="tuesday">
                                        <label class="form-check-label">
                                            Tirsdag
                                        </label>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input" name="day"  type="checkbox" value="wednesday">
                                        <label class="form-check-label">
                                            Onsdag
                                        </label>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input" name="day"  type="checkbox" value="thursday">
                                        <label class="form-check-label">
                                            Torsdag
                                        </label>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input" name="day"  type="checkbox" value="friday">
                                        <label class="form-check-label">
                                            Fredag
                                        </label>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input" name="day"  type="checkbox" value="saturday">
                                        <label class="form-check-label">
                                            Lørdag
                                        </label>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input" name="day"  type="checkbox" value="sunday">
                                        <label class="form-check-label">
                                            Søndag
                                        </label>
                                    </div>


                                    <button asp-page-handler="Standard" type="submit" class="btn btn-primary">Opret</button>
                                                                            

                               


                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>


    </div>


</form>

</body>

@section Scripts{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
        <script src="~/js/DateRingePicker.js"></script>
 

    <script>
    
   
    
    
        function toggle(className) {
            var x = '.' + className;
            if ($(x).is(":hidden")) {
                show(className)
                document.getElementById(className).value = '33';
            } else {
                hide(className)
                document.getElementById(className).value = '0';
            }
        }
  
 
        function hide(className) {
            var x = '.' + className;
            $(x).hide();
            document.getElementById(className).value = '0';
        }
   


        function show(className) {
            var x = '.' + className;
            $(x).show();
            document.getElementById(className).value = '33';
        }
        
        function changeAllPallets(value) {
            var i;
            for (i = 0; i < @Model.Intervals.Count; i++) {
                if ($(x).is(":hidden")) {

                } else {
                    document.getElementById(className).value = parseInt(value);
                }
            }
        }

    </script>

    <script>
        function hideAllEmpty()
        {
            var i;
            for (i = 11; i < 27; i++) {
                hide(i); 
            }
        }
    </script>

    <script>
        function allowDrop(ev) {
            ev.preventDefault();
        }

        function drag(ev) {
            ev.dataTransfer.setData("src", ev.target.id);
        }

        function drop(ev) {
            ev.preventDefault();
            var src = document.getElementById(ev.dataTransfer.getData("src"));
            var srcParent = src.parentNode;
            var tgt = ev.currentTarget.firstElementChild;

            ev.currentTarget.replaceChild(src, tgt);
            srcParent.appendChild(tgt);
        }
    </script>

}