@page
@using LogisticsBooking.FrontEnd.DataServices.Models.Schedule.DetailSchedule
@model LogisticsBooking.FrontEnd.Pages.Client.Schedule.ScheduleOverviewIndexModel
@{
}

@if (Model.Message != null)
{
    <div class="alert alert-success">
        <strong>@Model.Message</strong>
    </div>
}

@if (Model.CompleteMessage != null)
{
    <div class="alert alert-success">
        <strong>@Model.CompleteMessage</strong>
    </div>
}


<div class="row">
    <div class="col-3">
        
    </div>

    <div class="col-lg-6">
        

        <!-- Basic Card Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Aktive Planer</h6>
            </div>
            <div class="card-body">
                
                <div class="row ">

                    @foreach (var item in  @Model.MasterSchedulesStandardViewModel.MasterScheduleStandardViewModels)
                    {
                        if (item.Shifts == Shift.Night)
                        {
                            <div class="col-6 d-flex justify-content-center  ">
                                
                               
                            <h2>Nat Plan</h2>
                             <a asp-page="MasterScheduleSingle" asp-route-id="@item.MasterScheduleStandardId">
                                    <p>@item.Name</p>
                                </a>

                            </div>
                        }
                        else if (item.Shifts == Shift.Day)
                        {
                            <div class="col-6  justify-content-center ">
                                
                                
                            <h2>Dag Plan</h2>
                            <a asp-page="MasterScheduleSingle" asp-route-id="@item.MasterScheduleStandardId">
                                    <p>@item.Name</p>
                                </a>

                            </div>
                        }
                    }


                </div>
            </div>
        </div>

    </div>
</div>