@page
@using Microsoft.AspNetCore.Localization
@model LogisticsBooking.FrontEnd.Pages.Client.admin.AdminOverview
@inject CommonLocalizationService localizer


@{
    var requestCultureFeature = HttpContext.Features.Get<IRequestCultureFeature>();
    var requestCulture = requestCultureFeature.RequestCulture;
    var culture = CultureInfo.CurrentCulture.Name;
    }

<style>
    .inner {
        display: table;
        margin: 0 auto;
        width: 60%;
    }
    
    .wrapper {
        width: 100%;
        overflow: hidden;
    }
    
    .firstDiv {
        width: 40%;
        float: left;
    }
    
    .secondDiv {
        width: 40%;
        overflow: hidden;
    }
</style>

<h1 align="center">Indstillinger</h1>

<div class="row">
  
    <div class="ml-3 col-xl-3">

        <div class="list-group">
            <button id="UsersClick" type="button" class="list-group-item list-group-item-action">Administrer Brugere</button>
            <button id="CreateClick" type="button" class="list-group-item list-group-item-action">Opret Bruger</button>
        </div>

    </div>
    
    <div id="create" class="d-none col-xl-8">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Opret Bruger</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div id="" class=" d d-flex justify-content-between col-xl-12">
                        <div class="inner">
                            <form asp-page-handler="Create">
                                <div class="form-group">
                                    <label >Navn</label>
                                    <input asp-for="@Model.CreateUserCommand.Name" type="text" class="form-control"> <br/>
                                </div>
                                <div class="form-group">
                                    <label >Email</label>
                                    <input asp-for="@Model.CreateUserCommand.Email" type="email" class="form-control" > <br/>
                                </div>
                                <div class="form-group">
                                    <label>Rolle</label>
                                    <select class="form-control" asp-for="CreateUserCommand.Role" asp-items="Model.Roles"></select><br/>
                                </div>
                                <button type="submit" class="btn btn-primary">Opret</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
    <div id="users" class="d-none col-xl-8">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Administrer Brugere</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Role</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var user in Model.ApplicationUserViewModels.ApplicationUserViewModels)
                        {
                            <tr>
                                <td>
                                    @user.Name
                                </td>
                                <td><a asp-page="UserSingle" asp-route-id="@user.ApplicationUserId">@user.Email</a></td>
                                <td>
                                    @foreach (var role in user.ActiveRoles)
                                    {
                                        @role.Name
                                        @: <text> , </text>
                                    }
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                    <div class="col-xs-12 col-md-1 ">
                    </div>
    
                </div>
            </div>
        </div>
    </div>
    
</div>

@section Scripts
{

    <script>
    $('#CreateClick').on('click', function(){
        $('.d').each(function(i, obj) {
            $(this).addClass('d-none')
           
        });
      
        $('.active').each(function(i, obj) {
            $(this).removeClass('active')
                          
        });
        
        $('#CreateClick').addClass('active');
        $('#create').addClass('d');
        $('#create').removeClass('d-none');
        
    });
    
    
    $('#UsersClick').on('click', function(){
        $('.d').each(function(i, obj) {
            $(this).addClass('d-none')
                 
        });
            
        $('.active').each(function(i, obj) {
            $(this).removeClass('active')
                              
        });
        $('#UsersClick').addClass('active');
        $('#users').removeClass('d-none');
        $('#users').addClass('d');
            
    });
    
    </script>
}
